{% extends '::main_template.html.twig' %}
{% block title %} - Fórum{% endblock %}
{% block content %}
<h3>Fórum</h3>
{% for topicGroup in topicGroups %}
<table id="temakor-lista">
	<thead>
		<tr>
			<td colspan="2"><a href="{{ path('KekRozsakFrontBundle_forum_topic_list', {topicGroupSlug: topicGroup.slug}) }}">{{ topicGroup.title }}</a></td>
			<td>Témák száma</td>
			<td>Hozzászólások száma</td>
			<td>Utolsó hozzászólás</td>
		</tr>
	</thead>
	<tbody>
{% if topicGroup.topics|length > 0 %}
{% for topic in topicGroup.topics %}
		<tr>
			<td>[]</td>
			<td><a href="{{ path('KekRozsakFrontBundle_forum_post_list', {topicGroupSlug: topicGroup.slug, topicSlug: topic.slug}) }}">{{ topic.title }}</a></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
{% endfor %}
{% else %}
		<tr>
			<td colspan="4">Ebben a kategóriában nincsenek témák</td>
		</tr>
{% endif %}
	</tbody>
</table>
{% endfor %}
{% endblock content %}
