{# vim: ft=htmljinja
#}
{% extends 'KekRozsakFrontBundle:Default:main_template.html.twig' %}
{% block title%} - {{ article.title }}{% endblock title %}
{% block content %}
{{ article.text|raw }}
{% if article.source %}
<p class="forras">Forrás: {{ article.source }}</p>
{% endif %}
{% if app.user %}
<p class="szerzo">{{ article.createdBy|userdataspan }}</p>
{% endif %}
{% endblock content %}
