/* 
    Document   : books.css
    Created on : 2012.08.15., 11:41:37
    Author     : Gergely Polonkai
    Description:
        Library-styling CSS
*/

#konyvtar-gomb {
    float: left;
    padding: 5px;
}

#konyvtar-gomb a {
    color: inherit;
    text-decoration: none;
}
