/* 
    Document   : profilebox
    Created on : 2012.08.15., 11:31:41
    Author     : Gergely Polonkai
    Description:
        Profile-box styling CSS
*/

#profil-box {
    position: fixed;
    left: 5px;
    top: 32px;
    width: 300px;
    height: 400px;
    background-color: #c4d3ff;
    border: 2px solid #152967;
    color: #152967;
    display: none;
}

#profil-belso {
    position: relative;
    padding: 5px;
}

#profil-box dt {
    font-weight: bold;
}

#profil-szerkesztes {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
