/* 
    Document   : book.css
    Created on : 2012.08.17., 18:23:37
    Author     : Gergely Polonkai
    Description:
        CSS to style book stuff
*/

#book-list {
    border: 1px solid #142965;
    border-collapse: collapse;
    margin: 1em auto 1em auto;
    width: 100%;
}

#book-list thead td {
    font-weight: bold;
    height: 1.5 em;
    border-bottom: 2px solid #142965;
    padding: 3px;
}

#book-list tbody td {
    padding: 5px;
    border-bottom: 1px solid #142965;
}

#book-list tbody tr.odd td {
    background-color: #abccdc;
}

#book-list tbody tr.even td {
    background-color: #c6ecfe;
}