/*
    Document   : forum.css
    Created on : 2012.08.15., 11:40:39
    Author     : Gergely
    Description:
        Forum styling CSS
*/

.forum-lista {
    border: 1px solid #142965;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.forum-lista thead td {
    font-weight: bold;
    height: 1.5em;
    border-bottom: 2px solid #142965;
    padding: 3px;
}

.forum-lista thead td a {
    color: #142965;
    text-decoration: none;
}

.forum-lista tbody td {
    padding: 5px;
    border-bottom: 1px solid #142965;
}

.forum-lista tbody tr.odd td {
    background-color: #abccdc;
}

.forum-lista tbody tr.even td {
    background-color: #c6ecfe;
}

.forum-lista tbody td a {
    color: #142965;
    text-decoration: underline;
}

.post-lista {
    border: 1px solid #142965;
    border-collapse: collapse;
}

.post-lista td {
    border-style: solid;
    border-color: #142965;
    border-width: 3px 1px 1px 1px;
    vertical-align: top;
    padding: 5px;
}

.post-lista td.datum {
    background-color: #abccdc;
}

.post-lista td.felado {
    width: 150px !important;
    font-size: 80%;
}

.post-lista td.szoveg {
    width: 510px;
    border-width: 1px;
}

.post-lista td.szoveg div {
    width: 510px;
    overflow: auto;
}

td.uj-post {
}

td.uj-post textarea {
    width: 500px;
    background-color: #c6ecfe;
    color: #142965;
    border-style: solid;
    border-color: #142965;
    border-width: 0 0 2px 0;
    height: 15em;
}

td.uj-post p {
    clear: both;
    float: none;
    margin: 0;
}

td.uj-post p .eszkoztar {
    float: left;
}

td.uj-post p .kuldes-gomb {
    float: right;
}
