/* 
    Document   : loginbox
    Created on : 2012.08.15., 11:32:19
    Author     : Gergely Polonkai
    Description:
        Login-box styling CSS
*/

#login-box {
    position: fixed;
    left: 5px;
    top: 32px;
    width: 300px;
    height: 100px;
    background-color: #c4d3ff;
    border: 2px solid #152967;
    color: #152967;
    display: none;
}

#login-belso {
    position: relative;
    padding: 5px;
}
