/* 
    Document   : main
    Created on : 2012.08.15., 10:58:08
    Author     : Gergely Polonkai
    Description:
        Main stylesheet
*/

* {
	font-family: sans-serif;
	font-size: 14px;
}

body {
    margin: 0;
    background-color: #001100;
    background-image: url('../images/rose_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

a {
    color: inherit !important;
    text-decoration: underline;
}

#wrapper {
    background-color: #000000;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 270px;
    background-image: url('../images/header.png');
}

#header h1 {
    display: none;
}

#content-wrapper {
    background-color: #0e0e0e;
}

#content-outline {
    color: #142965;
    text-align: justify;
    width: 960px;
    float: left;
    background-color: #c6ecfe;
}

#content {
    padding: 5px;
}

#content img {
    margin: 5px;
}

h3 a {
    text-decoration: none;
}

.u {
	text-decoration: underline;
}

.b {
	font-weight: bold;
}

.i {
	font-style: italic;
}

.gomb {
	background-color: #cccccc;
	color: black;
	white-space: nowrap;
	cursor: pointer;
}

.gomb a {
	color: inherit !important;
}

.clear {
    clear: both;
    float: none;
}

#help-button {
    display: block;
    float: right;
}