/* 
    Document   : menu
    Created on : 2012.08.15., 11:10:44
    Author     : Gergely Polonkai
    Description:
        Menu stylesheet
*/

#menu {
    background-color: black;
    border-radius: 15px 15px 0 0;
    border-color: #29140d;
    font-size: 80%;
    height: 50px;
}

#menu ul {
    margin: 0;
    padding: 17px 0 0 20px;
}

#menu li {
    list-style-type: none;
    display: inline;
}

#menu a {
    color: #ffffff;
    margin-right: 5px;
    padding: 0 15px;
    text-decoration: none;
