{% extends 'KekRozsakFrontBundle:Default:front_template.html.twig' %}
{% block title%} - Aktuális{% endblock title %}
{% block content %}
<h3>Szentiván-éj, a mágikus éjszaka</h3>
<p>
	Az év legrövidebb éjszakáján a nyári napfordulót ünnepeljük. A régiek hiedelme szerint varázslatos éjszaka ez, amikor szinte bármi megtörténhet, a kívánságok teljesülhetnek. A néphagyományokhoz illően – világszerte – örömtüzeket gyújtanak, melyeknek csodás erőt tulajdonítanak.<br />
	Június 21-e, a nyári napforduló szinte az összes kultúrában a Nap, és ennél fogva a fény diadalának ünnepe volt, amely a pogány ember hiedelmei szerint a világosság és a sötétség állandó harcán alapult. A természettel összhangban élő, kereszténység előtti ember a nyárközépi tűzgyújtással elsősorban a Napot kívánta megsegíteni a sötétséggel vívott küzdelmében, a tűz fényének erejével pedig az ártó szellemeket igyekeztek minél messzebb űzni.<br />
	<br />
	A sötétség és az ahhoz kapcsolódó rontó hatások így egy időre – még ha csak egyetlen éjszakára is – de elveszítették hatalmukat az ember felett. Bár a kereszténység elterjedése után a Nap megsegítésének motívuma a mindinkább háttérbe szorult, a tűzünnep mégis megőrizte korábbi szimbolikáját és mágikus karakterét, mivel a tűz gyakorlati hasznával együtt már a régi korok emberei számára is nélkülözhetetlen erőt képviselt.
</p>

<h4>A naptárreformok miatt van csúszás</h4>

<p>
	A nyári napforduló az évnek az a jellegzetes időpontja, amikor a Nap az égbolton a legmagasabb delelési ponton áll. A Föld – különösen az északi félteke – ilyenkor terményekben bővelkedik, szépsége és ereje teljében van. Egyféle csúcspont ez, hiszen a nappalok a következő napfordulóig innentől már csak rövidülhetnek. Ezen a napon – június 21-én – az év leghosszabb nappalát és legrövidebb éjjelét élhetjük meg évről-évre.<br />
	„Szent Iván éjjele mégsem június 21-ére, hanem június 24 ére esik, ennek oka azonban a tropikus időszámítási mód sajátosságában és a tényleges naptári évek közti különbségben, illetve az egykori naptári reformokban rejlik. Így a nyári napforduló napja és megünneplése időben napjainkra már elvált egymástól. A nyár csillagászati értelemben vett kezdete korábban valóban Szent Iván napra, azaz június 24-ére esett, de erre ma már az eltolódás miatt három nappal korábban, június 21-én kerül sor. Évszázadok, vagy egy évezred múlva a napfordulók még korábbi dátumra fognak esni” – mondta el a FigyelőNetnek Mizser Attila, a Magyar Csillagászati Egyesület főtitkára.<br />
</p>

<h4>A holtak a Tejúton távoztak</h4>

<p>
	A nyári napforduló már a neolitikus idők óta jelentőségteljes nap az emberiség történetében. A kelták, a germánok, a szlávok és az északi népek többsége már a kezdetektől megünnepelte ezt, mint ahogy ezt ma is teszik. Papjaik, druidáik a Föld és az Ég nászának tartották e különös napot, s ennek megfelelően is tisztelegtek előtte.<br />
	<br />
	A korai pogány népek spirituális vezetőinek némelyike hitte, hogy a leghosszabb nap éjjelén révületbe esve képessé válhatnak arra, hogy testüket elhagyva a Tejúton keresztül eljussanak a holtak birodalmába, az alsóvilágba. Ennek a páratlan utazásnak az volt a célja, hogy a holtakkal érintkezve útmutatást és segítséget kérjenek többek között a jövőről, a termésről, a gyermekáldásról, a viszályokról, vagy az istenek megbékítésének módjáról.
</p>

<h4>Keresztelő Szent Jánost ünnepeljük</h4>

<p>
	Mivel a keresztényi logikába is beleillett a fény és a sötétség küzdelme, ezért a kereszténység végül ezt a napot Keresztelő Szent János napjává tette. Az Iván elnevezés a régi magyar Jovános, Ivános alakból ered, illetve a János névnek a szláv formájából.<br />
	Európa szerte – különösen az északi és a szláv népek – gyakorolták Szent Iván varázslatos éjszakáján a mágikus praktikákat, amelyek a megtisztulással, gyógyítással, az egészség megőrzésével, szerelemmel, a házassággal és a termékenységgel voltak szoros kapcsolatban.
</p>

<h4>Papírmasé egy spanyol ünnepségen - Szent Iván éjjelén elégetik</h4>

<p>
	Nem volt ez másképp a magyar néphagyományban sem, s a tűz nem véletlenül vált a világosság, a tisztaság, az egészség, a szenvedély, az elevenség, a szerelem és az örök megújulás jelképévé a magyar hiedelemvilágban is. A nyári napfordulóra eső Keresztelő Szent János ünnepe az 5-ik században vált elterjedtté, s a keresztény ünnep magába olvasztotta mindazokat a hiedelmeket és rítusokat, amelyek korábban a különböző népeknél a nyári napfordulóhoz kapcsolódtak.
</p>

<h4>Szent Iván napi magyar népszokások</h4>

<p>
	A Szent Iván naphoz fűződő hiedelmek és szokások egyrészt a szomszédos népektől, másrészt egyházi közvetítéssel kerültek hozzánk. „A magyar szokások szerint régen a június hónapot is Szent Iván havának nevezték. A nyárközépi tűzgyújtást, illetve a tűzcsóvák forgatását – népies nevén lobogózást – a történelmi Magyarország egyes területein, főleg Nyitra megyében Szent Iván napi dalok éneklése kísérte” – mondta lapunknak Hegedűs Vilmos kultúrakutató.<br />
	<br />
	A tűz körül álló asszonyok különféle illatos füveket, virágokat füstöltek, s ezeket később fürdők készítéséhez használták fel. Hegedűs megemlíti még, hogy gyógyító hatást tulajdonítottak a tűzbe vetett almának is, mondván, aki abból eszik, nem betegszik meg. Baranya megyében a sírokra is tettek a sült almából, míg Csongrád megyében azt tartották, hogy a tűzbe dobott alma édes ízét az elhunyt rokonok is megízlelhetik.<br />
	<br />
	Szerelmi praktikák és jóslások is fűződnek e naphoz. A szalmából és a többféle fából megrakott tűz fölött a hagyomány szerint a lányok átugráltak, amíg a fiúk azt figyelték, ki mozog közülük a legtetszetősebben. Az ugrások magasságából és irányából persze sokféle jövendölést lehetett kiolvasni.<br />
</p>

<h4>Múzeumok éjszakája</h4>

<p>
	Manapság Magyarországon is újra visszatérőben van a tradicionális Szent Iván éji tűzrakás, az ahhoz kötődő népi hagyományok, hiedelmek felelevenítése, és a nyári napforduló alkalmából történő kulturális fesztiválok megrendezése. A berlini példát követve 2001 óta már nálunk is megrendezik a Múzeumok Éjszakáját, amikor évről-évre, késő éjszakáig tartó nyitvatartási renddel egyre több múzeum várja nyitott kapukkal a látogatókat.<br />
</p>

<h4>Európa-szerte nagy ünnep</h4>

<p>
	Portugáliában a nyári napforduló ünnepe a „Santos Populares”, vagyis a népszerű szentek ünnepségsorozat egyik elemeként vonult be a köztudatba. Az ünnepsorozat egyik legérdekesebb és egyben régi hagyományokat idéző pillanata, amikor Lisszabonban két-háromszáz szerelmespár egyszerre mondja ki egymásnak a boldogító igent. Ők ugyanis ilyenkor emlékeznek meg Szent Antalról is, aki a házasságközvetítés szentje. A szerelmesek ilyenkor bátran vallanak szerelmet kiszemeltjüknek egy cserép bazsalikom és egy szerelmes vers kíséretében.<br />
	<br />
	Keresztelő Szent János ünnepén Portóban tele vannak az utcák ünneplő emberekkel, akik virágzó fokhagyma csokorral vagy kisebb méretű műanyag kalapáccsal veregetik meg finoman a mellettük elhaladókat, s ezzel szerencsét kívánnak nekik. Az idősebbek szerint így próbálják meg visszaterelni egymást a helyes útra. Természetesen az ünnep elmaradhatatlan kelléke a vidám tánc és az éjszakai tűzijáték a Douro folyó felett.<br />
	<br />
	Spanyolországban, a valenciai tartományban és különösképpen Alicante város környékén az emberek korábban a város helyett a tengerparton ünnepelték a nyári napfordulót Szent János napján. Napnyugta után máglyákat gyújtottak, majd a tűzrakásokat körbetáncolták, miközben petárdákkal durrogtattak, végül pedig a tengerben úsztak a kora hajnali órákig.<br />
	Az utcán mulatnak Spanyolországban Szent Iván napján.<br />
	Alicante városban a legfontosabb helyi ünnepé vált Las Hogueras néven. Ezen az éjszakán itt városszerte több méter magas, művészien elkészített papírmasé figurákat állítanak, amelyeket június 24-én éjfélkor meggyújtanak. „A színes figurák sokszor szatirikus megjelenésűek, nem egyszer a helyi viszonyokat és ismert személyiségeket kritizálják” – mondta helyszíni tudósítónknak Maria Cassado, helyi vállalkozó.<br />
</p>

<h4>Vidéki örömök az éjféli nap országában</h4>

<p>
	Az ünneplés azonban nem csak délen hagyomány. Svédországban nem Szent Ivánhoz kötik az év leghosszabb napját, hanem Keresztelő Szent Jánoshoz. A Midsommar – amely mindig a június 20 és 26 közötti szombatra esik – nem véletlenül nagy ünnep: nyúlfarknyivá válnak az éjszakák, bőségesen kárpótolva őket a téli sötétségért. Itt az év leghosszabb napja késő májustól kora augusztusig tart, amikor az északabbi területeken egyáltalán nem megy le a nap.<br />
	Ilyenkor a romantikusabb lelkületűek előszedik az egyébként sosem használt népviseletet, és zöldekkel, virágokkal, szalagokkal feldíszített májusfák körül táncolnak, koszorúval a hajukban. A többiek csendben kivárják az esti dorbézolást.<br />
</p>

<h4>Pilisszentiván is ünnepel</h4>

<p>
	Pilisszentiván, amely nevét égi patrónusáról kapta, 18 éve ünnepli védőszentjének neve napját, s egyúttal a hozzá fűződő legendát is. A községben minden esztendőben nagy nyüzsgéssel várják a Szentiván-éj jöttét.<br />
	Az utóbbi esztendőkben ez már egy sokszínű, majd tíznapos rendezvénysorozat. A fesztivál fő eseménye a Szentiván-éji, hatalmas máglya meggyújtása, amelyen a rontó boszorkányt égetik el, s amelyet minden évben több ezren énekelve, táncolva vesznek körül. Ezenkívül kiállítást tartanak kisiskolások munkáiból, kiséji zenét rendeznek a tóparton fáklyavilág mellett, s persze jó bajor sült kolbászokat árulnak kiváló, frissen csapolt sörrel. És az elmaradhatatlan schramlizene is szól, hajnalig.
</p>

<p class="forras">Forrás: FigyelőNet-összeállítás</p>
{% endblock content %}
