{# vim: ft=htmljinja
#}
{% extends 'KekRozsakFrontBundle:Default:main_template.html.twig' %}
{% block title %}- Bejelentkezés{% endblock %}
{% block content %}
{% if error %}
<div id="error-message">{{ error.message }}</div>
{% endif %}
<form action="{{ path('KekRozsakSecurityBundle_login_check') }}" method="post">
	<input type="text" id="username" name="_username" value="{{ last_username }}" />
	<input type="password" id="password" name="_password" />
	<button type="submit">Bejelentkezés</button>
</form>
{% endblock content %}
