* {
	font-family: sans-serif;
	font-size: 14px;
}

body {
	margin: 0;
	background-color: black;
	background-image: url('../images/rose_bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}

#top-line {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #152967;
	color: #c4d3ff;
	height: 32px;
	border-bottom: 1px solid #1b3586;
}

#top-line-padding {
	height: 33px;
	clear: both;
}

#top-line #search-box {
	float: right;
	padding: 5px;
}

#top-line #login-gomb {
	float: left;
	padding: 5px;
}

#top-line #profil-gomb {
	float: left;
	padding: 5px;
}

#bottom-line-padding {
	height: 33px;
}

#profil-box {
	position: fixed;
	left: 5px;
	top: 32px;
	width: 300px;
	height: 400px;
	background-color: #c4d3ff;
	border: 2px solid #152967;
	color: #152967;
	display: none;
}

#profil-belso {
	position: relative;
	padding: 5px;
}

#profil-box dt {
	font-weight: bold;
}

#profil-szerkesztes {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

#login-box {
	position: fixed;
	left: 5px;
	top: 32px;
	width: 300px;
	height: 100px;
	background-color: #c4d3ff;
	border: 2px solid #152967;
	color: #152967;
	display: none;
}

#esemeny-box {
	position: fixed;
	left: 5px;
	top: 32px;
	width: 250px;
	height: 200px;
	background-color: #c4d3ff;
	border: 2px solid #152967;
	color: #152967;
	display: none;
}

#esemeny-box td {
	text-align: center;
	vertical-align: middle;
}

#esemeny-box td.woy {
	font-size: 60%;
}

#esemeny-box td.program {
	background-color: green;
}

#esemeny-belso p.honap {
	text-align: center;
	margin: 0 5px;
	font-weight: bold;
}

#esemeny-belso table {
	margin-left: auto;
	margin-right: auto;
}

#login-belso {
	position: relative;
	padding: 5px;
}

#esemeny-belso {
	position: relative;
	padding: 5px;
}

#esemenyek-gomb {
	float: left;
	padding: 5px;
}

#konyvtar-gomb {
	float: left;
	padding: 5px;
}

#konyvtar-gomb a {
	color: inherit;
	text-decoration: none;
}

#bottom-line {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #152967;
	color: #c4d3ff;
	height: 32px;
	border-top: 1px solid #1b3586;
}

#wrapper {
	background-color: #000000;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	background-color: #29140d;
	background-image: gradient(top, #4e1e0b, #29140d);
	border-radius: 15px 15px 0 0;
	border-color: #29140d;
	font-size: 80%;
	height: 50px;
}

#menu ul {
	margin: 0;
	padding: 17px 0 0 20px;
}

#menu li {
	list-style-type: none;
	display: inline;
}

#menu a {
	color: #ffffff;
	margin-right: 5px;
	padding: 0 15px;
}

#header {
	height: 270px;
	background-image: url('../images/fejlec.jpg');
}

#header h1 {
	margin: 0;
	padding-left: 96px;
	padding-top: 95px;
}

#header h2 {
	margin: 0;
	padding-left: 15px;
	padding-top: 20px;
}

#content-wrapper {
	background-color: #0e0e0e;
}

#content-outline {
	color:#3366ff;
	text-align: justify;
	width: 740px;
	float: left;
}

#content {
	padding: 5px;
}

#hirek {
	float: right;
	color: #aaaacc;
	width: 215px;
}

#hirek h3 {
	padding: 10px;
	margin: 15px 0 0 0;
}

div.hir {
	padding: 5px;
	font-size: 80%;
	margin-bottom: 15px;
}

p.hir-cim {
	font-weight: bold;
	margin: 0 0 5px 0;
}

p.hir-szoveg {
	text-align: justify;
	margin: 10px 0;
}

p.hir-szerzo {
	font-style: italic;
	text-align: right;
	margin: 0;
}

p.hir-datum {
	text-align: right;
	margin: 0;
}

h3 a {
	color: #3366ff;
	text-decoration: none;
}

.forum-lista {
	border: 1px solid #3366ff;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

.forum-lista thead td {
	font-weight: bold;
	height: 1.5em;
	border-bottom: 2px solid #3366ff;
	padding: 3px;
}

.forum-lista thead td a {
	color: #3366ff;
	text-decoration: none;
}

.forum-lista tbody td {
	padding: 5px;
	border-bottom: 1px solid #3366ff;
}

.forum-lista tbody tr.odd td {
	background-color: #060c16;
}

.forum-lista tbody tr.even td {
	background-color: #000000;
}

.forum-lista tbody td a {
	color: #3366ff;
	text-decoration: underline;
}

.post-lista {
	border: 1px solid #3366ff;
	border-collapse: collapse;
}

.post-lista td {
	border-style: solid;
	border-color: #3366ff;
	border-width: 3px 1px;
	vertical-align: top;
	padding: 5px;
}

.post-lista td.felado {
	width: 150px !important;
	font-size: 80%;
}

.post-lista td.szoveg {
	width: 510px;
}

.post-lista td.szoveg div {
	width: 510px;
	overflow: auto;
}

td.uj-post {
}

td.uj-post textarea {
	width: 500px;
	background-color: #000000;
	color: #3366ff;
	border-style: solid;
	border-color: #3366ff;
	border-width: 0 0 2px 0;
	height: 15em;
}

td.uj-post p {
	clear: both;
	float: none;
	margin: 0;
}

td.uj-post p .eszkoztar {
	float: left;
}

td.uj-post p .kuldes-gomb {
	float: right;
}

.u {
	text-decoration: underline;
}

.b {
	font-weight: bold;
}

.i {
	font-style: italic;
}

#popup-container {
	display: none;
	position: fixed;
	height: 300px;
	width: 200px;
	background: #ffffff;
	z-index: 80;
}

#popup-close {
	position: absolute;
	width: 16px;
	height: 16px;
	top: -5px;
	right: -5px;
	background-image: url('../images/no.png');
}

#popup-inside {
	border: 1px solid black;
	height: 292px;
	width: 192px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
}

#popup-title {
	font-weight: bold;
	padding: 5px;
}

#popup-content {
	padding: 3px;
}

#popup-scrollable {
	width: 192px;
	clear: both;
	margin: 20px 0 10px;
}

#popup-scrollable .viewport {
	width: 172px;
	height: 246px;
	overflow: hidden;
	position: relative;
}

#popup-scrollable .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
}

#popup-scrollable .thumb .end, #popup-scrollable .thumb {
	background-color: #003D5D;
}

#popup-scrollable .scrollbar {
	position: relative;
	float: right;
	width: 15px;
}

#popup-scrollable .track {
	background-color: #D8EEFD;
	height: 100%;
	width: 13px;
	position: relative;
	padding: 0 1px;
}

#popup-scrollable .thumb {
	height: 20px;
	width: 13px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
}

#popup-scrollable .thumb .end {
	overflow: hidden;
	height: 5px;
	width: 13px;
}

#popup-scrollable .disable {
	display: none;
}

.gomb {
	background-color: #cccccc;
	color: black;
	white-space: nowrap;
	cursor: pointer;
}

#top-line .gomb {
	background-color: transparent;
	color: #c4d3ff;
}

.gomb a {
	color: inherit !important;
}

