				<div id="login-gomb">
					<span id="login-mutato">Bejelentkezés</span>
					<div id="login-box">
						<div id="login-belso">
							<form method="post" action="{{ path('KekRozsakSecurityBundle_login_check') }}">
								Felhasználónév: <input type="text" name="_username" /><br />
								Jelszó: <input type="password" name="_password" /><br />
								<button type="submit">Bejelentkezés</button>
							</form>
						</div>
					</div>
				</div>
